
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
}
.container {
    display: grid;
    grid-template-rows: 20% 40% 20% 18%;
    grid-template-areas:
        "topnav"
        "main"
        "contact"
        "footer";
        min-height: 100vh;
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
        position: relative;

}
.topnav {
    grid-area: topnav;
}

.main {
    grid-area: main;
    text-align: center;

}

.contact {
    grid-area: contact;
}

.footer {
    grid-area: footer;
}


.topnav1 {
    float: left;
    display: flex;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

.topnav2 {
    float: center;
    display: flex;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

.topnav3 {
    float: right;
    display: flex;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

.topnav a:hover {
    color: black;
    background-color: #bdb9b9;

}

.main {
    background-image: url(../assets/images/main_bg_v1.png);
    /* background-size: right bottom, left top; */
    background-size: cover; /* Make the background image cover the entire 'main' element */
    background-repeat: no-repeat; /* Prevent image repetition */
    background-position: center; /* Center the background image */
    text-align: center;
    padding: 10px;
    color: #fff;

}

.contact{
    display: flex;
    justify-content: space-between;
    padding:0 50px;
    margin: 0 200px;

}
.contact1{
    text-align: center;
}
.contact2{
    padding-top: 40px; 
}

#SB{
    border-radius: 20px;
    background: #97272D;
    border: 0px solid #97272D;
    width: 80px;
    height: 25px;
}
.footer{
    display: flex;
    padding:0 50px;
    justify-content: space-between;
    margin-right: 400px;
    margin-left: 15px;
    text-align: center;
}

.footer2{
    padding-top: 40px; 
    float:center;
}
.footer3{
    padding-top: 40px; 
    float:right;
}
#p1{
    font-weight: bold;
}
#p2{
    font-size: 12px;
}