
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
}
.container {
    display: grid;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas:
        "topnav"
        "main"
        "footer";
        min-height: 100vh;
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
        position: relative;

}
.topnav {
    grid-area: topnav;
    box-sizing: border-box;
}

.main {
    grid-area: main;
    text-align: center;

}

.contact {
    grid-area: contact;
}

.footer {
    grid-area: footer;
}


.topnav1 {
    float: left;
    display: flex;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

#dc {
    justify-content: center;
    display: flex;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    padding-left: 0px;
    font-weight: bold;
    font-size: 20px;
}
#lo{
    justify-content: center;

}
.topnav3 {
    float: right;
    display: flex;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color:  #97272D;
    font-weight: bold;
}

.topnav a:hover {
    color: black;
    background-color: #bdb9b9;

}

.main {
    display: flex;
    justify-content: center;
    background-image: url(../assets/images/main_bg_v1.png);
    background-size: cover; 
    background-repeat: no-repeat; 
    text-align: center;
    padding: 10px;
    color: #fff;

}
#SB{
    border-radius: 20px;
    background: #97272D;
    border: 0px solid #97272D;
    width: 80px;
    height: 25px;
}
.footer{
    display: flex;
    padding:0 50px;
    justify-content: space-between;
    margin-right: 400px;
    margin-left: 15px;
    text-align: center;
}

#co{
    padding-top: 60px; 
    float:center;
    text-decoration: none;
    color: black;
}
#au{
    padding-top: 60px; 
    float:right;
    text-decoration: none;
    color: black;
}
#p1{
    font-weight: bold;
}
#p2{
    font-size: 12px;
}
#fo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 800px;
        height: 400px; 
        background-color:  #f2f2f2; 
        color: black; 
        text-align: center;
        padding: 10px;
        font-size: 16px;
        margin-top: 90px;
    }
.fo1{
    display: block;
    margin: 20px;
    color: red;
}
#ps{
    border: 1px solid #97272D;
    width: 180px;
    height: 35px;
}
#us{
    display:block;
    float: center;
    border: 1px solid #97272D;
    width: 180px;
    height: 35px;
}
#bu{
    border-radius: 5px;
    background: #97272D;
    border: 0px solid #97272D;
    width: 180px;
    height: 35px; 
    color: white;
}
#ca{
    color: red;
    text-decoration: none;
}
#pt{
    text-decoration: none;
    color: black;
}
#hello{
    font-size: 40px;
    font-weight: bold;
}
.fr{
    text-decoration: none;
    color: red;
    font-size: 13px;
}
.rp{
    display: flex;
    justify-content: space-between;
}
#sufo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 400px; 
    background-color:  #f2f2f2; 
    color: black; 
    text-align: center;
    padding: 10px;
    font-size: 16px;
    margin-top: 90px;
    }
