@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Overall Style */
*{
    box-sizing: border-box;
}

:root{
    --primary-color: red;
    --secondary-color: white;
    --font-family: 'Raleway', sans-serif;   
}

body{
    font-size: 16px;
    font-family: var(--font-family);
    margin:0;
}


/* Header Style */
.header{
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
    padding: 10px 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90vw;
    margin: 0 auto;
    padding: 0 10px;
}

.header-left{
    display: flex;
    align-items: center;
}

.logo-title-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-right: 30px;
    /* flex-grow: 1; */
}

.logo {
    height: 50px;
}

.title {
    font-size: 1.5em;
    color: #333;
    text-decoration: none;
}

.navigation-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navigation-list.left{
    justify-content: flex-start;
}

.navigation-list.right{
    justify-content: flex-end;
}

.navigation-list-item {
    margin-left: 20px;
}

.navigation-list-item a {
    text-decoration: none;
    color: #333;
    font-size: 1em;
}

.navigation-list-item a:hover {
    color: #0275d8;
}

/* @media (max-width: 768px) {
    .navigation-list {
        display: none; Simple approach for smaller screens
        Implement a mobile menu (e.g., hamburger menu) for better navigation
    }
} */


/* End Header */

/* Footer Style */
.footer{
    background-color:#ffffff;
    color: #333;
    padding: 20px 0;
    border-top: 1px solid #e7e7e7;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 70vw;
    margin: 0 auto;
    padding: 0 15px;
}


.logo-title-container-footer, .copyright-footer, .navigation-footer{
    display: flex;
    align-items: center;
}

.logo-title-container-footer img{
    height: 50px;
}

.title-footer{
    font-size: 1.2em;
}

.navigation-list-footer{
    list-style: none;
}

.logo-title-container-footer a{
    text-decoration: none;
    color: #333;
}

.navigation-footer a{
    text-decoration: none;
    color: black;
}

.navigation-footer a:hover{
    color: var(--primary-color);
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }

    .logo-title-container-footer, .copyright-footer, .navigation-footer {
        margin-bottom: 10px;
    }
}

/* End of Footer */


/* Main style - Index*/

.main-welcome{
    background-image: url(../assets/images/main_bg_v1.png);
    background-size: cover;
    background-position: 50% 10%;
    background-repeat: no-repeat;
    min-height: 80vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}

.main-welcome::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1;
}

.welcome-container{
    text-align: center;
    margin-top: 10vh;
    position: relative;
    z-index: 2;
}

.welcome-container h1{
    font-size: 3rem;
    color: #ffffff;
    margin-bottom: 0.5rem;
}

.welcome-container p{
    font-size: 1.5rem;
    color: #ffffff;
}

/* End of Main Style - Index */

/* Login-Signup Page */
/* .login-body {
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
    position: relative;
} */
.login-signup-container {
    position: relative;
    display: flex;
    justify-content: center;
    background-image: url(../assets/images/main_bg_v1.png);
    background-size: cover; 
    background-repeat: no-repeat; 
    text-align: center;
    padding: 10px;
    color: #fff;
}

.login-signup-box {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 400px; 
    background-color:  #f2f2f2; 
    color: black; 
    text-align: center;
    padding: 10px;
    font-size: 16px;
    margin-top: 90px;
}

.login-signup-logo{
    max-width: 10px;;
}

.login-label{
    display: block;
    margin: 20px;
    color: red;
}

.login-input{
    border: 1px solid #97272D;
    width: 180px;
    height: 35px;
}

.login-button{
    border-radius: 5px;
    background: #97272D;
    border: 0px solid #97272D;
    width: 180px;
    height: 35px; 
    color: white;
}

.signup-button{
    color: red;
    text-decoration: none;
}

.rememberme-label{
    text-decoration: none;
    color: red;
    font-size: 13px;
}

.remember-forgot-links{
    display: flex;
    justify-content: space-between;
    align-items: left;
    color: #97272D;
    font-weight: bold;
    font-size: 25px;
    margin-left: 30px;
    margin-top: 100px;
    margin-bottom: 0px;
    height: 200px;
}
/* End of Login/Signup Page */
