nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    align-content: space-between;
}

.lp {
    display: inline;
    margin-right: 10px;
    order: 1; 
}

.rp {
    display: inline;
    margin-right: 10px; 
    order: 2;
    
}

nav a {
    text-decoration: none;
    color: #333; 
}



/* nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-content: space-between;
}

.lp {
    order: 1;
}

.rp {
    order: 2;
} */