
.login-body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: center;
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
    /*overflow-x: hidden;*/
    position: relative;
}
.login-signup-container {
    display: grid;
    grid-template-rows: 80% 20%;
    grid-template-areas:
        "login-signup-box"
        "footer";
        min-height: 100vh;
        width: 100%;
        max-width: 100%;
        /*overflow-x: hidden;*/
    position: relative;
    display: flex;
    justify-content: center;
    background-image: url(../assets/images/main_bg_v1.png);
    background-size: cover; 
    background-repeat: no-repeat; 
    text-align: center;
    padding: 10px;
    color: #fff;
}

.login-signup-box {
    grid-area: login-signup-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 400px; 
    background-color:  #f2f2f2; 
    color: black; 
    text-align: center;
    padding: 10px;
    font-size: 16px;
    margin-top: 90px;
}

.login-label{
    display: block;
    margin: 20px;
    color: red;
}

.login-input{
    border: 1px solid #97272D;
    width: 180px;
    height: 35px;
}

.login-button{
    border-radius: 5px;
    background: #97272D;
    border: 0px solid #97272D;
    width: 180px;
    height: 35px; 
    color: white;
}

.signup-button{
    color: red;
    text-decoration: none;
}

.rememberme-label{
    text-decoration: none;
    color: red;
    font-size: 13px;
}

.remember-forgot-links{
    display: flex;
    justify-content: space-between;
    align-items: left;
    color: #97272D;
    font-weight: bold;
    font-size: 25px;
    margin-left: 30px;
    margin-top: 100px;
    margin-bottom: 0px;
    height: 200px;
}

/* #sufo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 400px; 
    background-color:  #f2f2f2; 
    color: black; 
    text-align: center;
    padding: 10px;
    font-size: 16px;
    margin-top: 90px;
}

.fo2{
    display: block;
    border: 1px solid red;
    width: 180px;
    height: 35px;
    margin: 20px;
}

#buc{
    border-radius: 5px;
    background: #97272D;
    border: 0px solid #97272D;
    width: 180px;
    height: 35px; 
    color: white;
}

.re{
    border-radius: 4px;
    background: #97272D;
    border: 0px solid #97272D;
    width: 85px;
    height: 35px;
    color: white;
    margin: 20px;
}

.gb{
    border-radius: 4px;
    background: #f33c09;
    border: 0px solid #f33c09;
    width: 85px;
    height: 35px;
    color: black;
    margin: 20px;
}

.main1{

    background-color: white;
}

.yp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #97272D;
}

.img p{
    display: flex;
    justify-content: center;
    align-items: right;
    margin-top: 90px;
    margin-right: 20px;
}

.regb{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: left;
    margin-top: 450px;
    margin-left: 100px;

}

.pg{
    display: flex;
    justify-content: space-between;
    align-items: left;
}


#jo{
    display: flex;
    justify-content: center;
    background-image: url(../assets/images/RoadMap.png);
    background-size: cover; 
    background-repeat: no-repeat; 
} */